// Styling for the masthead
header.masthead {
    padding-top: 6rem + 4.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: $white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.5))), url("../assets/img/bg-masthead.jpg");
    // background-image: url("../assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .masthead-subheading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: $subheadings-font-family;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: $headings-font-family;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
}

@include media-breakpoint-up(md) {
    header.masthead {
        padding-top: 12.5rem + 4.5rem;
        padding-bottom: 12.5rem;
        .masthead-subheading {
            font-size: 2.25rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        }
        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            
        }
    }
}

section#about {
    background: -webkit-gradient(linear, right top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../../assets/img/bk8.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

section#services {
    background: -webkit-gradient(linear, right top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../../assets/img/bk8.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.imgCustom{
    height: 70px;
    width: auto;
    margin-bottom: 30px;
  }

.btnCustom {
    margin-bottom:230px; 
    margin-top:30px;
}

.imgNavbar {
    height: 30px !important;
    width: auto;
}

  @include media-breakpoint-up(md) {
    .imgCustom{
        height: 100px;
        width: auto;
        margin-bottom: 50px;
    }
    .btnCustom {
        margin-bottom:140px; 
        margin-top:30px;
    }
    .imgNavbar {
        height: 40px !important;
        width: auto;
    }
    .carousel-control-prev {
        margin-left: -100px;
      }
      
    .carousel-control-next {
        margin-right: -100px;
    }
}

.carousel-indicators {
    bottom:-30px;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}
