// Styling for the team section
.team-member {
    margin-bottom: 3rem;
    text-align: center;
    img {
        height: 270px;
        max-width: auto;
    }
    h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

section#team{
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, right top, right bottom, from(rgba(40, 40, 40, 0.5)), to(rgba(40, 40, 40, 0.9))), url("../assets/img/portfolio.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 0 !important;
  }
