doctype html
html(lang='en')

    head
        style.
            #map {
                width: 100%;
                height: 500px;
                }

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Elderom Cluj-Napoca

        link(rel='icon', type='image/x-icon', href='../assets/img/icon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    img.imgNavbar(src='assets/img/logo_transparent2.png', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Meniu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Servicii
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portofoliu
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Despre
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') Echipamente
                        li.nav-item
                            a.nav-link(href='litere-volumetrice') Galerie
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Producție publicitară
                .masthead-subheading Confecții metalice ușoare
                .masthead-heading.text-uppercase S.C. ELDEROM IMPEX S.R.L.
                a.btn.btnCustom.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Află mai multe

        // Services
        section#services.page-section
            .container
                .text-center
                    img.imgCustom(src='assets/img/logo_transparent2.png', alt='')
                    h2.section-heading.text-uppercase Servicii
                    h3.section-subheading.text-muted Standarde înalte de calitate
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-wallet.fa-stack-1x.fa-inverse
                        h4.my-3 Preț accesibil
                        p.text-muted
                            | Furnizorii noștri de materiale sunt depozite specializate cu un raport bun calitate-preț.
                            | Execuția proiectelor se face integral în atelierele noastre.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-award.fa-stack-1x.fa-inverse
                        h4.my-3 Soluții eficiente
                        p.text-muted
                            | Oferim soluții optime datorită experienței noastre de peste 25 de ani în domeniu.
                            | Creăm produse unicate în care se reflectă viziunea clientului.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-tools.fa-stack-1x.fa-inverse
                        h4.my-3 Calitate superioară
                        p.text-muted
                            | Compania noastră dispune de dotări tehnice moderne și personal calificat.
                            | Acestea împreună cu materialele de calitate folosite, garantează calitatea proiectelor.

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase.text-white Portofoliu
                    h3.section-subheading.text-white Selecție de proiecte dezvoltate de-a lungul anilor
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/Totemuri/6.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading CREIC
                                .portfolio-caption-subheading.text-muted Totem
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/LitereVolumetrice/48.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Bombardier
                                .portfolio-caption-subheading.text-muted Litere Volumetrice
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/Unicate/12.jpg', alt='' style='height: 250px; width: 400px')
                            .portfolio-caption
                                .portfolio-caption-heading IQuest
                                .portfolio-caption-subheading.text-muted Iluminare Atrium
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/LitereVolumetrice/27.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Betfair
                                .portfolio-caption-subheading.text-muted The Office Cluj-Napoca
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/LitereVolumetrice/23.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading NobilaCasa
                                .portfolio-caption-subheading.text-muted Cluj-Napoca
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/LitereVolumetrice/44.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Bosch
                                .portfolio-caption-subheading.text-muted Hala productie Blaj
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal9')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/ReclameMici/20.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading TIFF
                                .portfolio-caption-subheading.text-muted Cluj-Napoca
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal7')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/NewPhotos/60.jpg', alt=''  style='height: 250px;')
                            .portfolio-caption
                                .portfolio-caption-heading Unicarm Supermarket
                                .portfolio-caption-subheading.text-muted Cluj si judetele limitrofe
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal11')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/StanduriExpo/15.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Romexpo Bucuresti
                                .portfolio-caption-subheading.text-muted Stand Expozitional
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal12')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/NewPhotos/74.jpg', alt='' style='height: 250px; width: 400px')
                            .portfolio-caption
                                .portfolio-caption-heading Copac fatada hostel
                                .portfolio-caption-subheading.text-muted Decor arhitectural
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal10')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/StanduriExpo/9.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Expozitor
                                .portfolio-caption-subheading.text-muted Cluj-Napoca
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal8')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/NewPhotos/51.jpg', alt='' style='height: 250px;')
                            .portfolio-caption
                                .portfolio-caption-heading Home Garden
                                .portfolio-caption-subheading.text-muted Cluj-Napoca
                    .col-lg-12.text-center
                        a#mainButton2.btn.btn-primary.btn-xl.js-scroll-trigger(href='litere-volumetrice') Galerie
                    
        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Despre
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 2009-2011
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 March 2011
                                h4.subheading An Agency is Born
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 December 2012
                                h4.subheading Transition to Full Service
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2014
                                h4.subheading Phase Two Expansion
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                .col-lg-12.py-5
                    .mb-5.text-center
                        // Facebook
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-instagram
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-facebook-f
        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase.text-white Echipamente
                    h3.section-subheading.text-white Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg', alt='')
                            h4.text-white Kay Garland
                            p.text-white Lead Designer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg', alt='')
                            h4.text-white Larry Parker
                            p.text-white Lead Marketer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg', alt='')
                            h4.text-white Diana Petersen
                            p.text-white Lead Developer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg', alt='')
                            h4.text-white Kay Garland
                            p.text-white Lead Designer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg', alt='')
                            h4.text-white Larry Parker
                            p.text-white Lead Marketer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='https://images-na.ssl-images-amazon.com/images/I/61-2K3EXK3L._SX425_.jpg', alt='')
                            h4.text-white Diana Petersen
                            p.text-white Lead Developer
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-white
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        // Clients
        div.py-5
            .container
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel' data-interval="2000")
                        .carousel-inner
                            .carousel-item.active
                                .row
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.aegon.ro/home/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/aegon.jpg', alt='' style='width: 100%;height: 50px; filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.betfair.ro/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/betfair.jpg', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.bfgoodrich.com/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/bf.jpg', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://bombardier.com/en')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/bombardier.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                            .carousel-item
                                .row
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.bosch.com/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/bosch.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.fotech.com/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/fortech.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.geberit.ro/ro/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/geberit.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.nagarro.com/en')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/iquest.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                            .carousel-item
                                .row
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.kaufland.ro/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/kaufland.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.medicover.ro/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/medicover.jpg', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://www.nobilacasa.ro/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/nobilacasa.jpg', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
                                    .col-md-3.col-sm-6.my-3
                                        a(href='https://unlimited.tiff.ro/')
                                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/tiff.png', alt='' style='width: 100%;height: 50px;filter: grayscale(100%);')
        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact
                .row.align-items-stretch.mb-5
                    .col-lg-12.text-center
                        i.fas.fa-map-marker.fa-3x.mb-3(style='color: white;')
                        h5.text-white Str. Muresului Nr. 37, Cluj-Napoca
                .row.align-items-stretch.mb-5
                    .col-lg-4.ml-auto.text-center(style='')
                        i.fas.fa-phone.fa-3x.mb-3(style='color: white;')
                        p(style='color: white;') +40 729 400 130
                    .col-lg-4.mr-auto.text-center(style='')
                        i.fas.fa-envelope.fa-3x.mb-3(style='color: white;')
                        // Make sure to change the email address in anchor text AND the link below!
                        p(style='color: white;') contact@yourwebsite.com

                form#contactForm(name='sentMessage', novalidate='novalidate')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                input#name.form-control(type='text', placeholder='Nume *', required='required', data-validation-required-message='Va rugam introduceti numele.')
                                p.help-block.text-danger
                            .form-group
                                input#email.form-control(type='email', placeholder='Email *', required='required', data-validation-required-message='Va rugam introduceti adresa de e-mail.')
                                p.help-block.text-danger
                            .form-group.mb-md-0
                                input#phone.form-control(type='tel', placeholder='Telefon *', required='required', data-validation-required-message='Va rugam introduceti numarul de telefon.')
                                p.help-block.text-danger
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                textarea#message.form-control(placeholder='Mesajul dvs. *', required='required', data-validation-required-message='Va rugam introduceti mesajul dvs.')
                                p.help-block.text-danger
                    .text-center
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Trimite Mesaj 
                    br
                    .gmap_canvas
                        iframe#gmap_canvas(width='100%' height='400' src='https://maps.google.com/maps?q=Elderom&t=&z=13&ie=UTF8&iwloc=&output=embed' frameborder='5' scrolling='no' marginheight='0' marginwidth='0')
                        style.
                            .mapouter {
                            width: 100%;
                            }
                            .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            width: 100%;
                            }

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                        | Copyright © S.C. ELDEROM IMPEX S.R.L. 2021
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-instagram
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-facebook-f

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Creic Cluj-Napoca
                                    p.item-intro.text-muted Centru Regional de Excelență pentru Industrii Creative
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/LitereVolumetrice/46.jpg', alt='')
                                    p Un proiect complex datorită formei și dimensiunii totemului.
                                    ul.list-inline
                                        li Structura metalică de rezistență.
                                        li Placare cu bond, cu atenție la detaliile de îmbinare.
                                        li Litere volumetrice luminoase.
                                        li Suport de steaguri profesionale.
                                    ul.list-inline
                                        li Data: Octombire 2016
                                        li Client: Primăria Cluj-Napoca
                                        li Categoria: Totemuri
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Bombardier
                                    p.item-intro.text-muted The Office Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/LitereVolumetrice/42.jpg', alt='')
                                    p Litere volumetrice luminoase
                                    ul.list-inline
                                        li Suport metalic pentru montaj.
                                        li Litere executate integral din plexiglass.
                                        li Iluminare cu bandă LED SMD.
                                    ul.list-inline
                                        li Data: Mai 2015
                                        li Client: Bombardier
                                        li Categoria: Litere Volumetrice
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Iluminare Atrium
                                    p.item-intro.text-muted Sistem de iluminare unicat
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/Mobilier/34.jpg', alt='')
                                    p O provocare a tehnicii de iluminare datorită formei si dimensiunilor corpurilor de iluminat.
                                    ul.list-inline
                                        li Față corpuri de iluminat - decupate laser după proiect execuție clădire.
                                        li Sistem de montaj reglabil orizontal-vertical pentru aliniere cu tavanul.
                                        li Iluminare cu module LED dimabile cu control digital al intensității luminoase.
                                    ul.list-inline
                                        li Data: Septembrie 2017
                                        li Client: IQuest
                                        li Categoria: Sisteme de Iluminare
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Betfair
                                    p.item-intro.text-muted The Office Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/LitereVolumetrice/27.jpg', alt='')
                                    p Litere volumetrice luminoase
                                    ul.list-inline
                                        li Suport metalic pentru montaj.
                                        li Litere executate din plexiglass si PVC.
                                        li Iluminare cu bandă LED SMD.
                                        li Outline luminos pe contur exterior.
                                    ul.list-inline
                                        li Data: Iunie 2015
                                        li Client: Betfair
                                        li Categoria: Litere Volumetrice
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase NobilaCasa
                                    p.item-intro.text-muted Iuliu-Maniu, Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/LitereVolumetrice/23.jpg', alt='')
                                    p Litere volumetrice luminoase
                                    ul.list-inline
                                        li Montaj individual pe fatada, distantat.
                                        li Litere executate din PVC, opace.
                                        li Iluminare cu bandă LED SMD.
                                        li Iluminare cu efect Halo.
                                    ul.list-inline
                                        li Data: August 2014
                                        li Client: Deco Center
                                        li Categorie: Litere Volumetrice
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        |Închide
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Bosch
                                    p.item-intro.text-muted Hala productie Blaj
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/LitereVolumetrice/44.jpg', alt='')
                                    p Litere volumetrice luminoase
                                    ul.list-inline
                                        li Montaj individual pe fatada.
                                        li Litere executate din Plexiglass si PVC.
                                        li Iluminare cu module LED SMD.
                                    ul.list-inline
                                        li Data: Februarie 2018
                                        li Client: Bosch Romania
                                        li Categorie: Litere Volumetrice
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        
        // Modal 10
        #portfolioModal10.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Expozitor placi ceramice
                                    p.item-intro.text-muted Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/StanduriExpo/9.jpg', alt='')
                                    p Standuri Expozitoare
                                    ul.list-inline
                                        li Constructie metalica sudata.
                                        li Capacitate incarcare 1000kg.
                                        li Sistem de iluminare a panourilor placate.
                                    ul.list-inline
                                        li Data: Decembrie 2011
                                        li Client: Sanex
                                        li Categorie: Standuri Expozitoare
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 8
        #portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Home Gardem Supermarket
                                    p.item-intro.text-muted str. Buna Ziua, Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/NewPhotos/73.jpg', alt='')
                                    p Semnalistica Exterioara
                                    ul.list-inline
                                        li Bandou perimetral din bond pe structura metalica.
                                        li Litere volumetrice din plexiglass si PVC.
                                        li Iluminare cu banda LED SMD.
                                    ul.list-inline
                                        li Data: Martie 2019
                                        li Client: Home Garden
                                        li Categorie: Semnalistica Exterioara
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 9
        #portfolioModal9.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase TIFF
                                    p.item-intro.text-muted Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/ReclameMici/42.jpg', alt='')
                                    p Cuburi luminoase
                                    ul.list-inline
                                        li Constructie integrala din plexiglass.
                                        li Sistem de alimentare cu acumulator, autonomie 6 ore.
                                        li Iluminare cu banda LED SMD.
                                    ul.list-inline
                                        li Data: Iunie 2017
                                        li Client: TIFF Romania
                                        li Categorie: Elemente de promovare luminoase
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 7
        #portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Unicarm Supermarket
                                    p.item-intro.text-muted Cluj si judetele limitrofe
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/NewPhotos/72.jpg', alt='')
                                    p Semnalistica Exterioara
                                    ul.list-inline
                                        li Bandou perimetral din bond pe structura de aluminiu.
                                        li Caseta luminoasa din tabla de aluminiu decupata laser.
                                        li Litere Volumetrice din plexiglass alb de 20mm inserate.
                                        li Iluminare cu module LED waterproof.
                                    ul.list-inline
                                        li Data: Noiembrie 2020
                                        li Client: Unicarm Romania
                                        li Categorie: Semnalistica Exterioara
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 11
        #portfolioModal11.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Stand Expozitional
                                    p.item-intro.text-muted Romexpo Bucuresti
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/StanduriExpo/15.jpg', alt='')
                                    p Stand Expozitional
                                    ul.list-inline
                                        li Suprafata stand 200mp cu etaj 100mp.
                                        li Constructie metalica sudata.
                                        li Placare cu gips-carton si placi ceramice.
                                        li Expozitoare cu panouri mobile integrate.
                                        li Sisteme de iluminare si de afisare.
                                    ul.list-inline
                                        li Data: Ianuarie 2013
                                        li Client: Sanex
                                        li Categorie: Standuri Expozitoare
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide
        // Modal 12
        #portfolioModal12.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Copac fatada hostel
                                    p.item-intro.text-muted Cluj-Napoca
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/NewPhotos/74.jpg', alt='')
                                    p Decor arhitectural
                                    ul.list-inline
                                        li Constructie modulara din HPL.
                                        li Montaj pe suporti de inox.
                                        li Iluminare perimetrala cu banda LED waterproof.
                                        li Dimensiune 10m x 16m inaltime.
                                    ul.list-inline
                                        li Data: Februarie 2021
                                        li Client: Doralex Cluj
                                        li Categorie: Constructii arhitecturale
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Închide

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')
